@import "tailwindcss";

body {
  overflow-x: hidden;
}

/* Update section Home Page */
@keyframes marquee-vertical {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
  }
}

.animate-marquee-vertical {
  animation: marquee-vertical 20s linear infinite;
}
